<%- include('./partials/header'); %>

    <body>
        <style>
            .sidenav {
                margin-top: 51px;
            }
        </style>
        <%- include('./partials/DashboardNav'); %>

            <div id="main-container">
                <h2 style="visibility: hidden;">main-container</h2>
            </div>

            <div class="profile-container">
                <div class="title-container">
                    <h2 class="bg-warning" style="padding: 3px;">Dashobard</h2>
                    <div class="profile-dashboard">
                        <div class="user-profile">
                            <div class="user-img">
                                <img class="rounded-circle user img-fluid bg-light img-responsive"
                                    src="/image/<%= userprofile %>" alt="user">
                            </div>
                            <div class="user-details">
                                <p class="userDetails"><span class="text-info"><i class="fa-solid fa-user"></i> Name :
                                    </span>&nbsp;&nbsp;<%= username %>
                                </p>
                                <p class="userDetails"><span class="text-info"><i class="fa-solid fa-envelope"></i>
                                        Email :
                                    </span>&nbsp;&nbsp;<%= useremail %>
                                </p>
                                <p class="userDetails"><span class="text-info"><i class="fa-solid fa-phone"></i> Mobile
                                        :
                                    </span>&nbsp;<%= usermobile %>
                                </p>
                            </div>
                            <div class="user-message">
                                <p class="p-notice text-danger">
                                    <i class="fa-solid fa-hand-point-right"></i>
                                    Dear&nbsp;<b class="text-success">
                                        <%= username %>
                                    </b>,Please, select
                                    <b class="text-success">Course</b> and <b class="text-success">Apply-year</b> which
                                    you are applying for otherwise:-<br />
                                    <i class="fa-solid fa-circle-xmark"></i> you can't fill Admission form.<br />
                                    <i class="fa-solid fa-circle-xmark"></i> you can't view Applications.<br />
                                    <i class="fa-solid fa-circle-xmark"></i> you can't make payments.<br />
                                    <i class="fa-solid fa-circle-xmark"></i> you can't check payment history and many
                                    more..
                                </p>
                            </div>
                            <div class="course">
                                <form action="/application" method="post" onsubmit="return handleSubmit()">
                                    <select id="select-coures" style="box-shadow: none; background-color: #ffbf00c4;"
                                        class="form-select mb-2" aria-label=".form-select-lg" name="course">
                                        <option value="0" selected>Select Course</option>
                                        <option value="UG">UG</option>
                                        <option value="PG">PG</option>
                                    </select>
                                    <div class="d-grid gap-2 mx-auto">
                                        <button data-bs-toggle="modal" id="btn" type="sumbit"
                                            class="btn btn-success btn">SET</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="profile-notice">
                            <h3 class="text-success">
                                <i class="fa-solid fa-bullhorn"></i> Important notie for student regarding apply on PG
                                and
                                UG
                            </h3>

                            <p class="p-notice text-danger">
                                1. Before FEE Payment please verify your all details(your personal delatls,
                                ,Education details, marks, Category etc). On the basis of these details your
                                marit list will be published. After FEE Payment you can not change your details.
                            </p>
                            <p class="p-notice text-danger">
                                2. During the application for PG Course please do not submit yout Final year/Semester
                                Marks on the basis of Partial Marks because After FEE Payment you can not change your
                                details.
                            </p>
                            <p class="p-notice text-danger">
                                3. For you convient in LOGIN CHANGE REQUEST OPTION are availabe, With the help of that
                                student
                                can send change request to your related college or university for your Name, Father's
                                Name,
                                Mother's
                                Name, Date of Birth, Address, Blood Gropu, Marital Status, and Religion and student does
                                not
                                have to
                                go college and university to submit any application.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="errorModal" data-bs-backdrop="static" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-danger" style="height:40px; color: white;">
                            <h5 class="modal-title fs-5 " id="exampleModalLabel">Required!</h5>
                            <button onclick="handleClick()" type="button" class="btn-close shadow-none"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-danger">
                            Please Select Course!
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function handleSubmit() {
                    const btn = document.getElementById('btn');
                    const course = document.getElementById("select-coures").value;

                    if (course == "0") {
                        btn.setAttribute("data-bs-target", "#errorModal");
                        btn.dispatchEvent(new Event("click"));
                        return false;
                    }
                }

                function handleClick() {
                    btn.removeAttribute("data-bs-target");
                }

            </script>
    </body>

    </html>